.loginForm{
    /* border: 1px solid antiquewhite; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}

.loginForm input{
    border: 1px solid antiquewhite;
    background-color: transparent;
    border-radius: 3px;
    color: antiquewhite;
    font-size: 14px;
}